client-nextjs/.nextjs
client-nextjs/dist
client-nextjs/build
client-nextjs/node_modules
client-nextjs/node_modules
# local env files
client-nextjs/.env*.local

# vercel
client-nextjs/.vercel

# typescript
client-nextjs/*.tsbuildinfo
client-nextjs/next-env.d.ts



server/dist
server/build
server/node_modules
server/.gitignore
server/.env.development.local